@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.opt-container{
    @apply flex justify-between gap-0 border rounded-lg mt-5;
}

.opt-container input {
    @apply !mr-0 flex-1 py-5  border-gray-500;
}

.slick-slide > div {
    margin: 0 10px;
}


.bgcolor{
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(158deg, rgb(224,224,224) 0%,rrgb(233,237,254)100%);
}
